@import "../index.css";

.Characters{
    overflow-y: scroll;
    padding: 124px 64px 64px 64px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 50px;
    row-gap: 50px;
    box-sizing: border-box;
    min-height: 100vh;
}

@media only screen and (max-width: 400px){
    .Characters{
        grid-template-columns: 1fr;
    }
}
