@import "./index.css";

.App{
    height: 100%;
    background-color: var(--background-color);
}

.App .App__content{
    height: 100%;
}

.isFetching {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh);
}
